/*CUSTOM-PROPS */

:root {
    --bg-color: #162023;
    --text-color: #f2f2f2;
    --f1: 'Hanken Grotesk', sans-serif;
    --f2: 'Andika', sans-serif;
    --f3: 'Ubuntu', sans-serif;
    --grey: #273032;
    --accent: #F2954D;
}


/* GLOBAL */

*:focus {
    outline: 3px dotted var();
    outline-offset: 3px;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--f1);
    color: var(--text-color);
    background-color: var(--bg-color);
}

img {
    max-width: 100%;
    height: auto;
}


/* AUTOFILL-STYLES */


/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */


/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* CONTAINER */

.container {
    width: 100%;
    max-width: 346px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: auto;
    margin-left: auto;
}


/* MAIN-CONTENT */

.main-content {
    flex-grow: 1;
}


/* BUTTON */

.button {
    display: inline-block;
    padding: 8px 22px;
    font-size: 14px;
    line-height: 2;
    font-weight: 500;
    border: 2px solid transparent;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    border-radius: 5px;
}

.button:active {
    opacity: 0.6;
}


/* HEADER */

.header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--grey);
}

.haeder__container {
    display: flex;
    /* align-items: center; */
}

.header__link {
    text-decoration: none;
}

.header__icon {}

.header__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
}


/* HERPO */

.hero {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--bg-color);
}

.hero__container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.hero__img {
    margin-top: 0;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.hero__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.hero__text {
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #f2f2f269;
}


/* FOOTER */

.footer {
    /* padding-top: 20px;
    padding-bottom: 20px; */
}

.footer__container {
    background-color: var(--grey);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__link {
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--text-color);
    background-color: var(--accent);
    border-radius: 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
}


/* RETINA */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and ( min--moz-device-pixel-ratio: 2),
only screen and ( -o-min-device-pixel-ratio: 2/1),
only screen and ( min-device-pixel-ratio: 2),
only screen and ( min-resolution: 192dpi),
only screen and ( min-resolution: 2dppx) {}